<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class = "container o-8column">
  <div class = "row">
    <div class = "col-lg-7">

      <div class = "row">
        <h4 class = "col-4 text-center" style = "background-color:lightgray">ユーザー情報の変更</h4>
      </div>
      <%= form_with model:@user, local:true do |f| %>
      <table class = "table table-borderless">

        <tbody>
          <tr class = "row">
            <td class = "col-2">氏名</td>
            <td class = "col-4"><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"姓" %></td>
          </tr>
          <tr class = "row">
            <td class = "col-2"></td>
            <td class = "col-4">
               <div class="form-group">
                 <%= f.submit "編集内容を保存", class: "btn btn-success" %>
               </div>
            </td>
          </tr>
        </tbody>

      </table>
      <% end %>
    </div>
  </div>
</div>